<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930292132871-2nc8bv64imoeuhodqcatcoit7qkvdufb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930292132871-2nc8bv64imoeuhodqcatcoit7qkvdufb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>930292132871-mfjpqohdrdsp8ep05rg13bm6biouu3et.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFcWiTf-FD8Ok7K777rUxrc05EDzmEwps</string>
	<key>GCM_SENDER_ID</key>
	<string>930292132871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codifytech.topgrid</string>
	<key>PROJECT_ID</key>
	<string>topgrid-95259</string>
	<key>STORAGE_BUCKET</key>
	<string>topgrid-95259.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930292132871:ios:ddb43c8ffe5b7532e44ea2</string>
</dict>
</plist>